

services:
  web:
    build:
      context: .
      dockerfile: docker/django.Dockerfile
    container_name: lazytable_web
    ports:
      - "8000:8000"
    restart: always

    # Монтируем SQLite-базу
    volumes:
      - ./data/db.sqlite3:/app/db.sqlite3

  tests:
    build:
      context: .
      dockerfile: docker/tests.Dockerfile
    container_name: lazytable_tests

    # Ждём, пока Django полностью запустится
    depends_on:
      - web

    # Позволяет тестам обращаться к Django-контейнеру
    network_mode: "service:web"

    # Запуск тестов Playwright
    command: ["npx", "playwright", "test"]

    # Тесты запускаются ОДИН РАЗ и контейнер завершится
    restart: "no"